<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href=" {{ absolute_url(asset('css/bootstrap.min.css')) }} ">
        <link rel="stylesheet" href=" {{ absolute_url(asset('css/bootstrap.min.css.map')) }} ">
        <link rel="stylesheet" href=" {{ absolute_url(asset('css/style.css')) }} ">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src=" {{ absolute_url(asset('js/bootstrap.js')) }} "></script>
    </body>
</html>
