{% extends 'base.html.twig' %}
{% block body %}
    <div style="padding: 64px;">
        <h1>Список книг</h1>
        <a href="{{ path('book_new') }}" class="btn btn-info add-action" role="button">Добавить книгу</a>
        <table class="table">
            <thead>
            <tr>
                <th>Книга</th>
                <th>Дата</th>
                <th>ISBN</th>
                <th>Стр.</th>
                <th>Обложка</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            {% for book in books %}
                <tr>
                    <td><a href="{{ path('book_show', { 'id': book.id }) }}">{{ book.bookName }}</a></td>
                    <td>{{ book.publishYear }}</td>
                    <td>{{ book.isbn }}</td>
                    <td>{{ book.pageSize }}</td>
                    <td>
                        {% if book.cover %}
                            {#<img src="{{ absolute_url(asset('uploads/images/' ~ book.cover)) }}" style="width: 50px; height: 50px;">#}
                            <a href="{{ path('book_show', { 'id': book.id }) }}" class="book-resize"><img src="{{ absolute_url(asset('uploads/images/' ~ book.cover)) }}"></a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('book_show', { 'id': book.id }) }}" class="btn btn-info" role="button">Показать</a>
                        <a href="{{ path('book_edit', { 'id': book.id }) }}" class="btn btn-info" role="button">Редактировать</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
