{% extends 'base.html.twig' %}

{% block body %}
    <div class="w3-content">
        <div class="w3-padding-64">
            <h1>Добавить книгу</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="{{ path('book_index') }}">Список книг</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
