{% extends 'base.html.twig' %}

{% block body %}
    <div class="w3-content">
        <div class="w3-padding-64">
            <h1>Информация о книге</h1>
            <table class="table">
                <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ book.id }}</td>
                </tr>
                <tr>
                    <th>Книга</th>
                    <td>{{ book.bookName }}</td>
                </tr>
                <tr>
                    <th>Дата</th>
                    <td>{{ book.publishYear }}</td>
                </tr>
                <tr>
                    <th>ISBN</th>
                    <td>{{ book.isbn }}</td>
                </tr>
                <tr>
                    <th>Стр.</th>
                    <td>{{ book.pageSize }}</td>
                </tr>
                <tr>
                    <th>Обложка</th>
                    <td>
                        <a href="{{ path('book_show', { 'id': book.id }) }}"><img src="{{ absolute_url(asset('uploads/images/' ~ book.cover)) }}"></a>
                    </td>
                </tr>
                <tr>
                    <th>Действия</th>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('book_edit', { 'id': book.id }) }}">Редактировать</a>
                            </li>
                            <li>
                                {{ form_start(delete_form) }}
                                <input type="submit" value="Delete">
                                {{ form_end(delete_form) }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul>
                <li>
                    <a href="{{ path('book_index') }}">Список книг</a>
                </li>
                <li><a href="/">Каталог</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
