.add-action {
    margin-bottom: 15px;
}

#form_save {
    border: 1px solid lightgray;
}

label[for=form_cover]
{
    margin-right: 10px;
}

.book-resize {
    display: block !important;
    max-width: 50px !important;
    max-height: 100% !important;
    width: auto !important;
    height: auto !important;
    margin: auto !important;
}

.book-resize img {
    width: 50px !important;
}

th a {
    color: #6f42c1 !important;
}

li {
    margin: 8px 0px;
}