{% extends 'base.html.twig' %}

{% block body %}
<div class="w3-content">
    <div class="w3-padding-64">
    <h2>Редактировать информацию об авторе</h2>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
    <ul>
        <li>
            <a href="{{ path('author_index') }}">Список авторов</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
</div>
{% endblock %}
