{% extends 'base.html.twig' %}
{% block body %}
    <div class="w3-content">
        <div class="w3-padding-64">
            <h1>Список авторов</h1>
            <a href="{{ path('author_new') }}" class="btn btn-info add-action" role="button">Добавить автора</a>
            <table class="table">
                <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Действия</th>
                </tr>
                </thead>
                <tbody>
                {% for author in authors %}
                    <tr>
                        <td><a href="{{ path('author_show', { 'id': author.id }) }}">{{ author.fio }}</a></td>
                        <td>
                            <a href="{{ path('author_show', { 'id': author.id }) }}" class="btn btn-info" role="button">Показать</a>
                            <a href="{{ path('author_edit', { 'id': author.id }) }}" class="btn btn-info" role="button">Редактировать</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
