{% extends 'base.html.twig' %}
{% block body %}
    <div class="w3-content">
        <div class="w3-padding-64">
            <h1>Добавить автора</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
            <ul>
                <li>
                    <a href="{{ path('author_index') }}">Список авторов</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
