{% extends 'base.html.twig' %}
{% block body %}
    <div class="w3-content">
        <div class="w3-padding-64">
            <h1>Информация об авторе</h1>
            <table class="table">
                <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ author.id }}</td>
                </tr>
                <tr>
                    <th>ФИО</th>
                    <td>{{ author.FIO }}</td>
                </tr>
                <tr>
                    <th>Действия</th>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('author_edit', { 'id': author.id }) }}">Редактировать</a>
                            </li>
                            <li>
                                {{ form_start(delete_form) }}
                                <input type="submit" value="Delete">
                                {{ form_end(delete_form) }}
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
            <ul>
                <li>
                    <a href="{{ path('author_index') }}">Список авторов</a>
                </li>
                <li>
                    <a href="/">Каталог</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
