<!DOCTYPE html>
<html>
<title>
</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href=" {{ absolute_url(asset('css/bootstrap.min.css')) }} ">
<link rel="stylesheet" href=" {{ absolute_url(asset('css/style.css')) }} ">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src=" {{ absolute_url(asset('js/bootstrap.js')) }} "></script>
<body>