{{ include("pages/header.html.twig") }}
  <div class="w3-content">
    <div class="w3-padding-64">
      <h1>Каталог</h1>
      <table class="table table-striped table-hover">
  	  <thead>
      <tr>
        <th><a href="{{ path('author_index') }}">Автор</a></th>
        <th><a href="{{ path('book_index') }}">Книга</a></th>
        <th>Дата</th>
        <th>ISBN</th>
        <th>Стр.</th>
        <th>Обложка</th>
      </tr>
    </thead>
    <tbody>
      {% for author in allData %}
      <tr>
        <td><a href="{{ path('author_show', { 'id': author.author_id }) }}">{{ author.FIO }}</a></td>
        <td><a href="{{ path('book_show', { 'id': author.book_id }) }}">{{ author.book_name }}</a></td>
        <td>{{ author.publish_year }}</td>
        <td>{{ author.ISBN }}</td>
        <td>{{ author.page_size }}</td>
        <td>
            {% if author.cover %}
              <a href="{{ path('book_show', { 'id': author.book_id }) }}" class="book-resize"><img src="{{ absolute_url(asset('uploads/images/' ~ author.cover)) }}"></a>
            {% endif %}
        </td>
      </tr>
      {% endfor %}
      </tbody>
	  </table>
    </div>
  </div>
</div>
<footer>
</footer>
</body>
</html>